.outer-container {
	@include grid-container;
	max-width: 1200px;
	margin: 0 auto 3rem auto;
}
.custom-grid-container {
	max-width: 1200px;
	margin: 0 auto 6em auto;
}
.nest-container {@include grid-collapse;}
.inner-container {@include grid-container;}
.grid-container {@include grid-column(12);}
.left-content-container {@include grid-column(12);}
.side-related {@include grid-column(12);}
.main-column-large {@include grid-column(12)}
.side-column-small {@include grid-column(12);}
.profile {
	.main-column-large {@include grid-column(7)}
	.side-column-small {@include grid-column(5);}
}

@include media($medium) {
	.left-content-container {@include grid-column(7);}
	.side-related {@include grid-push(5);}

	.main-column-large {@include grid-column(10)}
	.side-column-small {@include grid-column(2);}
}