.related-content {position: relative;}

.side-related-image {
	float: left;
	width: 50%;
	margin-left: -25%;
	padding: 1.5rem 1.5rem 1.5rem 0;

	img.related-image {margin-bottom: 0.5rem;}
}

.side-related {
	position: absolute;
	z-index: 100;
	padding-top: 0.5rem;
	background-color: rgba(255, 255, 255, 0.75);
	.related-head {border-bottom: 1px solid #e6e6e6;}
	.related-body {margin-top: 1.5rem;}
	.show-more {
		font-size: 1.6rem;
		color: $red;
		cursor: pointer;
		a:link, a:visited {color: $red;}
		a:hover, a:active {color: $tan;}
	}
	.related-image {
		img {margin-bottom: 0.5rem;}
		text-align: right;
	}
}


// MEDIA QUERIES
@include media($medium-screen) {

}

@include media($large-screen) {

}