.related-content {
	.related-image {
		@include grid-column(12);
	}
	.related-copy {
		@include grid-column(12);
		padding-top: 0.5rem;
		p {font-size: 1.4rem;}
	}
}

// MEDIA QUERIES
// SCREEN WIDTH 700px
@include media($medium-medium-screen) {
	// .related-content {
	// 	.related-image {
	// 		@include grid-column(11);
	// 		@include grid-push(1);
	// 	}
	// 	.related-copy {border-top: 1px solid #e2e2e2;}
	// }
}
// SCREEN WIDTH 900px
@include media($medium-large-screen) {
	.related-content {
		.related-image {
			@include grid-column(11);
			@include grid-push(1);
		}
		.related-copy {border-top: 1px solid #e2e2e2;}
	}
}
// SCREEN WIDTH 1200px
@include media($large-screen) {
	.related-content {
		.related-image {
			@include grid-column(10);
			@include grid-push(2);
		}
	}
}