$font-sans:  'Alegreya Sans', sans-serif;
$font-serif: 'Carerra', $georgia !default;

h2, h6 {font-family: $font-serif;}
h3, h4, h5 {font-family: $font-sans;}

h2 {}
h3 {
	font-weight: 300;
	color: $color-gray-dark;
	margin: 0;
}
h4 {
	font-weight: 700;
	color: $color-red-darkest;
}
h5 {
	font-size: 1.25em;
	font-weight: 300;
	color: $color-blue-darker;
	margin: 0;
}
h6 {
	text-transform: none;
	color: $color-red-darkest;
	margin: 0 0 0.25em 0;
}