$font-sans:  'Alegreya Sans', sans-serif;
$font-serif: 'Carerra', $georgia !default;

h2, h6 {font-family: $font-serif;}
h3, h4, h5 {font-family: $font-sans;}

h2 {
	font-size: 4rem;
	font-weight: 400;
	color: $color-gray-dark;
	margin-bottom: 3rem;
}
h3 {
	font-size: 3rem;
	font-weight: 400;
	color: $color-red-darkest;
	margin: 0 0 3rem 0;
}
h4 {
	font-size: 2.4rem;
	font-weight: 400;
	color: $color-gray-dark;
	margin: 0 0 1.5rem 0;
}
h5 {
	font-family: $font-serif;
	font-size: 1.6rem;
	font-weight: 300;
	color: $color-blue-darker;
	margin: 0 0 1.5rem 0;
}
h6 {
	font-family: $font-sans;
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 700;
	color: $black9;
	margin: 0;
}
p {
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin: 0 0 3rem 0;
	color: $black3;
}
p.aside {
	font-size: 1.6rem;
	line-height: 2rem;
	color: $black3;
}

a:link, a:visited {
	color: $blue;
	text-decoration: none;
}
a:hover, a:active {color: $red;}