$white:         #ffffff;
$black:         #000000;
$black3:        #333333;
$black6:        #666666;
$black9:        #999999;

$red:           #9f1d25;
$blue:          #147bd1;
$blue-dark:     #283266;
$blue-light:    #81b0d2;
$gold:          #c0bb87;
$tan:           #8b8278;


$red-screen:        rgba(181,35,29,0.1);
$blue-dark-screen:  rgba(40,49,103,0.1);
$blue-screen:       rgba(57,114,188,0.1);
$blue-light-screen: rgba(155,218,229,0.1);
$yellow-screen:     rgba(243,187,3,0.1);
$cream-screen:      rgba(252,241,110,0.1);
$tan-screen:        rgba(139,130,120,0.1);
$green-screen:      rgba(137,175,113,0.1);

// Mobile First Breakpoints
$small-screen:          481px;
$medium-screen:         600px;
$medium-medium-screen:  700px;
$medium-large-screen:   900px;
$large-screen:         1200px;